.console-title-bar {
  border-radius: 8px 8px 0px 0px; /* TL, TR, BR, BL*/
  padding-left: 12px;
  background: lightgray;
  height: 28px;
  display: flex; /* flexbox! */
  flex-direction: row;
  align-items: center; /* vertical alignment */
  gap: 8px; /* space between flex items */
}

.title-close,
.title-minimize,
.title-expand {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.title-close {
  background: #ff3b30;
}

.title-minimize {
  background: #ff9500;
}

.title-expand {
  background: #28cd41;
}

.console-main {
  padding: 40px;
  margin: 0px;
  background: white;
  text-align: center;
  border-radius: 0px 0px 8px 8px;
}

.main-text {
  margin: 0;
}

.sub-text {
    color: #444444;
}
